#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 100%;
    min-width: 300px;
    margin-bottom: -50px;
    margin-top: -30px;
  }
  
#regForm  h1 {
    text-align: center; 
    font-size: 30px; 
    margin-top: -120px;
    padding-bottom: 30px;
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  .inputfield {
    display: flex;
    flex-direction: column;
  }
  .inputfield span {
    color: red;
    font-size: 15px;
}

.tab b {
    color: green;
}
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  textarea {
	width: 400px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 8px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
    background-repeat: no-repeat;
    margin-left: -10px;
}

.search-boxes{
  display: flex;
  position: sticky;
}

table {
  counter-reset: rowNumber;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  
  min-width: 1em;
  margin-right: 0.5em;
}
.count-farmers {
  display: flex;
  flex-direction: column;
}
.check{
  display: flex;
  justify-content: space-between;
}
#Processing {
  margin: auto;
}

.btn{
  margin-bottom: 10px;
  margin-left: 10px;
}

.admin-create-button{
  margin: auto;
 
}
.create-admin-form{
  padding-right: 300px;
}

.weather_header{
  display: flex;
}

.weather_header button {
  margin-left: 20px;
  margin-top: -5px;
}

.admin-create-button h1 {
  font-size: 40px;
}

.weather_body{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: top center;
}

.weather_column_space{
  margin-right: 20px;
  margin-bottom: 20px;
}

.paragraph p {
  font-size: 17px;
  margin: auto;
  color: rgb(153, 233, 171);
  background-color: rgba(72, 72, 71, 0.5);
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 45px;
  border-radius: 15px;

}

.paragraph p img{
  margin-left: 50px;
}

.forcast_section{
  margin-top: 50px;
  border-radius: 15px;
}

.forcast_main_section{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.forcast_body{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: top center;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 15px;
}

.forcast_body p{
  font-size: 17px;
  margin: auto;
  color: rgb(153, 233, 171);
  background-color: rgba(76, 75, 74, 0.5);
  padding: 20px;
  padding-top: 5px;
  border-radius: 15px;
}

.forcast_body p img{
  font-size: 50px;
  text-align: center;
  margin-left: 30px;
}

.longitude_latitude_input{
  display: flex;
}

/* dashboard of market actor csss */

.market_actor_info_container{
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.sms_info_container{
  display: flex;
  border: 1px solid #26d0a8;
  background-color: #26d0a8;
  padding: 40px 30px 30px 40px;
  width: 45%;
}

.subscription_info_container{
  display: flex;
  height: 200px;
}

.upper_section{
  display: flex;
  justify-content: space-around;
  margin-left: -40px;
}

.sms_icon_market_actor_dashboard{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 40px;
  color: #fff;
}

.sms_icon{
  margin: auto;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

.white_color{
  color: #fff;
  font-size: 11px;
}

.sms_info_button{
  color: #fff !important;
}

.sms_info_section_button{
  width: 100%;
  margin-top: 30px;
  height: 40px;
  border-radius: 10px;
  color: #26d0a8;
}

.sms_span{
  color: #fff !important;
  font-size: 20px;
  letter-spacing: 0.1em;
  opacity: 3px;
}

.sms_line_height{
  line-height: 10px;
}

.sms_info_details{
  margin-left: 30px;
  width: 250px;
}

.subscription_info_container{
  background-color: #fff;
  margin: auto;
  padding: 40px 30px 30px 40px;
  width: 500px;
}

.subs_icon_market_actor_dashboard{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 40px;
  color: #26d0a8;
}

.subs_info_section_button{
  width: 100%;
  margin-top: 10px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  background-color: #26d0a8;
}

.subscription_status{
  color: rgb(193, 79, 79);
  font: bold;
  font-weight: 500;
}

.subscription_info_details{
  width: 250px;
}

.subscription_status{
  margin-top: -10px;
  margin-bottom: 10px;
  letter-spacing: 0.08em;
}

.state_container{
  z-index: 10000;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid #6ba598;
  padding: 50px;
  background-color: #F5F9F5;
  margin-top: -120px;
  margin-left: -100px;
}

.state_container_section{
  border: 1px solid black;
  position: relative;
  margin-left: 69%;
  border: 1px solid #fff;
  padding: 200px;
  padding-bottom: 100px;
  background-color: #fff;
  margin-top: -300px;
  padding-left: 90px;
}

.state_container h1{
  display:inline-block;
  border-bottom:1px solid rgb(120, 119, 119);
  padding-bottom:9px;
  margin-top: -30px;
  font-size: 17px;
  margin-bottom: 20px;
}

#chartContainer{
  height: 300px;
  width: 70.5%;
  margin-left: -9px; 
  z-index: 3000;
}

.state_border{
  border: 1px solid #26d0a8;
  height: 10px;
  width: 40px;
  background-color: #26d0a8;
  text-align: center;
}

.state_naming{
  width: 150px;
}

.state_name_section{
  display: flex;
}

.sms_subscription_status{
  color: rgb(147, 70, 70);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 85%;
}
  /* For mobile phones: */
  .market_actor_info_container{
    display: flex;
    flex-direction: column;
  }
  .state_container, .state_container_section{
    display: none;
  }

  .sms_info_container{
    display: flex;
    border: 1px solid #26d0a8;
    background-color: #26d0a8;
    padding: 40px 30px 30px 10px;
    width: 80%;
    padding-bottom: 1px;
    margin-bottom: 30px;
    margin-left: 10%;
  }

  .subscription_info_container{
    background-color: #fff;
    margin: auto;
    padding: 40px 30px 30px 40px;
    width: 80%;
    margin-left: 10%;
  }
  .subscription_info_details{
    text-align: center;

  }
  .subs_info_section_button{
    margin-left: 10px;
  }

  .sms_icon_market_actor_dashboard{
    width: 90px;
    height: 90px;
    text-align: center;
    margin-right: 40px;
  }

  .subs_icon_market_actor_dashboard{
    width: 90px;
    height: 90px;
    text-align: center;
    margin-right: 40px;
  }

  .sms_icon{
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
  }

  .sms_info_section_button{
    width: 130%;
    margin-top: 30px;
    height: 40px;
    border-radius: 10px;
    color: #26d0a8;
    margin-left: -30px;
  }

  .margin-button{
    margin-bottom: 100px;
  }

  .market_actor_info_container{
    margin-left: -7px;
    margin-bottom: 30px;
  }

  #chartContainer{
    height: 300px;
    width: 100.5%;
    margin-left: -9px; 
    z-index: 3000;
  }

  .sms_info_details{
    margin-top: 15px;
  }

}

.weather_cotainer img{
  font-size: 20px;
}


