#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 100%;
    min-width: 300px;
    margin-bottom: -50px;
    margin-top: -30px;
  }
  
#regForm  h1 {
    text-align: center; 
    font-size: 30px; 
    margin-top: -120px;
    padding-bottom: 30px;
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  .inputfield {
    display: flex;
    flex-direction: column;
  }
  .inputfield span {
    color: red;
    font-size: 15px;
}

.tab b {
    color: green;
}
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  textarea {
	width: 400px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 8px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
    background-repeat: no-repeat;
    margin-left: -10px;
}

.search-boxes{
  display: flex;
  position: sticky;
}

table {
  counter-reset: rowNumber;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
.count-farmers {
  display: flex;
  flex-direction: column;
}
.check{
  display: flex;
  justify-content: space-between;
}
#Processing {
  margin: auto;
}

.btn{
  margin-bottom: 10px;
  margin-left: 10px;
}

.admin-create-button{
  margin: auto;
 
}
.create-admin-form{
  padding-right: 300px;
}

.admin-create-button h1 {
  font-size: 40px;
}

.weather_body{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: top center;
}

.weather_column_space{
  margin-right: 20px;
  margin-bottom: 20px;
}

.paragraph p {
  font-size: 15px;
  margin: auto;
  color: rgb(153, 233, 171);
  background-color: rgb(122, 121, 119, 0.5);
  padding: 6px;
  padding-top: 5px;
  border-radius: 15px;

}

.forcast_section{
  margin-top: 50px;
}

.forcast_body{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-image: url('../img/02d.jpg');
  background-size: cover;
  background-position: top center;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

.forcast_body p{
  font-size: 15px;
  margin: auto;
  color: rgb(153, 233, 171);
  background-color: rgb(122, 121, 119, 0.5);
  padding: 6px;
  padding-top: 5px;
  border-radius: 15px;
}