body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.update_password_container img{
    width: 100%;
    margin-top: 50px;
}

.inner_content h1{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.right_section img{
    padding: 100px;
    margin-left: 100px;
}

.btn{
    color: #ffffff !important;
    background-color: #26D0A9;
}