.ussd_section{
    border: 1px solid rgb(201, 196, 196);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ussd_form{
    border: 1px solid rgb(201, 196, 196);
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ussd_numbers{
    border: 1px solid rgb(201, 196, 196);
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ussd_form input{
    padding: 15px 0px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .ussd_section{
        display: flex;
        flex-direction: column;
    }
  }