
<!--title and breadcrumb-->

<div class="page-breadcrumb">
  <h1>Activity Log</h1>
</div>

<!--/title and breadcrumb-->


<div class="columns is-full">

    <div class="columns nvri_users is-vcentered is-multiline animated preFadeInUp fadeInUp">
        
    </div>
</div>

<div class="column" style="padding: 5px;">
    <table class="table is-bordered" style="border-radius: 5px;">
        <thead>
          <tr style="background-color: #dee1e1;">
            <th><abbr title="Position">Pos</abbr></th>
            <th>Activity</th>
            <th>Date</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td></td>
            <td>Logged In
            </td>
            <td>
                <p class="control">
                  23rd May 2020, 11:30 AM
                </p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Updated Disease case study
            </td>

            <td>
                <p class="control">
                    2rd May 2020, 1:30 PM
                  </p>
            </td>                                        
          </tr>

          <tr>
            <td></td>
            <td>Logged Out
            </td>

            <td>
                <p class="control">
                    15rd May 2020, 4:30 PM
                </p>
            </td>                                        
          </tr>
          
        </tbody>
      </table>
</div>