<div class="dashboard-inner">
    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">
        <div class="row" style="margin-bottom:10px">
            <div class="col-md-5">
                <a href="#" class="button subs_info_section_button no-block">View Subscribers</a>
            </div>
            <div class="col-md-7 text-right">
                <!--<strong><span class="">Wallet Balance:</span> <span class="dash-stat">₦185,506.00</span></strong>-->
            </div>
        </div>
        <!-- Main content -->
        <div id="main-dashboard" class="section-wrapper margin-button">
            <!-- Wide tile -->
            <div class="columns is-multiline is-event-tiles">
                <!-- Event pill -->
                <div class="column is-12">
                    <div class="flex-card light-bordered event-tile">
                        <!--<div class="event-category padded-content text-center">-->
                        <div class="event-category padded-content-2">
                            <div class="columns">
                                <div class="column is-2">
                                    <div class="field">
                                        <label>Payment Channel:</label>
                                        <div class="control">
                                            <div class="select">
                                                <select>
                                                    <option value="voucher">Voucher</option>
                                                    <option value="ussd">USSD</option>
                                                    <option value="online">Online Payment</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label>Voucher Number:</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="0000000000">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label>Farmer Phone Number:</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="08030000000">
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button subs_info_section_button no-block form-inline-button" type="submit">Proceed</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12">
                    <div class="flex-card light-bordered event-tile flex-card-green">
                        <div class="columns">
                            <div class="column is-6">
                                <div class="table-container farmer-details">
                                    <table class="table is-narrow is-fullwidth is-transparent">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Phone Number: 
                                                </td>
                                                <td>
                                                    <b>07058882916</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Full Name: 
                                                </td>
                                                <td>
                                                    Abakar Sajo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Gender: 
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    State: 
                                                </td>
                                                <td>
                                                    Gombe
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    LGA: 
                                                </td>
                                                <td>
                                                    Balanga
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Marital Status:
                                                </td>
                                                <td>
                                                    Married
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="subscription-details">
                                    <p>Subscription:</p>
                                    <h1>₦<span>2,000</span></h1>
                                    <p>Validity:</p>
                                    <h2>16 Oct. 2020 - 15 Oct. 2021</h2>
                                    <p>Channel:</p>
                                    <h2>Voucher - 198 376 9876</h2>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12 text-center">
                                <a href="#" class="button subs_info_section_button no-block">Activate</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Invalid or used voucher -->
                <div class="column is-12">
                    <div class="flex-card light-bordered event-tile flex-card-green">
                        <div class="columns">
                            <div class="column is-6">
                                <div class="table-container farmer-details">
                                    <table class="table is-narrow is-fullwidth is-transparent">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Phone Number: 
                                                </td>
                                                <td>
                                                    <b>07058882916</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Full Name: 
                                                </td>
                                                <td>
                                                    Abakar Sajo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Gender: 
                                                </td>
                                                <td>
                                                    Male
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    State: 
                                                </td>
                                                <td>
                                                    Gombe
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    LGA: 
                                                </td>
                                                <td>
                                                    Balanga
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Marital Status:
                                                </td>
                                                <td>
                                                    Married
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="subscription-details">
                                    <h3 class="sub-error">This Voucher has been used</h3>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12 text-center">
                                <a href="#" class="button subs_info_section_button no-block is-disabled">Activate</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Farmer Not in DB -->
                <div class="column is-12">
                    <div class="flex-card light-bordered event-tile flex-card-green">
                        <div class="columns">
                            <div class="column is-6">
                                <div class="table-container farmer-details">
                                    <table class="table is-narrow is-fullwidth is-transparent">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Phone Number: 
                                                </td>
                                                <td>
                                                    <b>07058882916</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3 class="sub-error">Farmer not found in our database and needs to be onboarded.</h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h3 class="sub-info">Link to onboarding form will be sent via sms </h3>
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="subscription-details">
                                    <p>Subscription:</p>
                                    <h1>₦<span>2,000</span></h1>
                                    <p>Validity:</p>
                                    <h2>16 Oct. 2020 - 15 Oct. 2021</h2>
                                    <p>Channel:</p>
                                    <h2>Voucher - 198 376 9876</h2>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12 text-center">
                                <a href="#" class="button subs_info_section_button no-block">Activate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--THE OLD-->
            <!-- <button  class="side-icon">check</button> -->
            <div id="basic-layout" class="columns dashboard-columns dashboard-tiles">
                <div class="market_actor_info_container">
                </div>
            </div>
            <!--END THE OLD-->
            <!-- Widgets -->
            <div>
            </div>
        </div>
    </div>
</div>