<div class="columns is-full">

    <div class="columns nvri_users is-vcentered is-multiline animated preFadeInUp fadeInUp">
        <!-- Registered Users -->
        <div class="column is-full">
            <h2 class="button btn-dash secondary-btn is-raised">User Diagnoses Queries</h2>
        </div>
    </div>
</div>

<div class="column" style="padding: 5px; border-radius: 5px; ">
   

    <div id="resp-table" class="table is-bordered">
        <div id="resp-table-header" style="background-color: #00d1b2;">
            <div class="table-header-cell">
                S/N 
            </div>
            <div class="table-header-cell">
                Diagnoses Queries
            </div>
            <div class="table-header-cell">
                Status
            </div>

        </div>
        <div id="resp-table-body">

        </div>

    </div>
    
</div>


