<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <h2 class="demo-title">Adamawa Farmers</h2>
                <h2 class="demo-title count-farmers">
                    <span id="total"></span>
                    <span id="ada"></span>
                </h2>

                <!-- Advanced Datatable -->
                <div class="table-wrapper">
                  <table id="mytable" class="table is-datatable is-hoverable table-striped table-bordered">
                      <thead>
                          <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th>State</th>
                            <th>LGA</th>
                            <th>Marital Status</th>
                          </tr>
                        </thead> 
                      <tbody id="gombe_farm_table">

                      </tbody>
                  </table>
                  
                  <div class="pagination-container">
                      <nav>
                        <ul class="pagination"></ul>
                      </nav>
                  </div>
              </div><hr>
                <div class="table-wrapper">
                  <table id="example_adam" class="display" style="width:100%">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>State</th>
                        <th>LGA</th>
                        <th>Marital Status</th>
                      </tr>
                    </thead>
                    
                  </table>
                </div>

            </div>
        </div>
    </div>
</div>