<div class="dashboard-inner">
    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <h2 class="demo-title">CROPS GAP CONTENT MODULES
                    <button class="button is-primary" onclick="updateFromSMAP();">
                        Refresh Crop Details
                    </button>
                </h2>

                <!-- Begin CROP holder -->

                <div class="navigation-tabs layout-tabs animated-tabs">
                    <div class="tabs is-toggle is-fullwidth">
                        <ul>
                            <li class="tab-link is-active" data-tab="sms_task" onclick="startModule(event, sms_task);">
                                <a>TOMATOES</a>
                            </li>
                            <li class="tab-link" onclick="riceGapSwal()" data-tab="statistics_task" onclick="startModule(event, statistics_task);">
                                <a>RICE</a>
                            </li>
                            <li class="tab-link" onclick="groudnutGapSwal()" data-tab="subscriber_task" onclick="startModule(event, subscriber_task);">
                                <a>GROUNDNUT</a>
                            </li>
                            <li class="tab-link" onclick="sorghumGapSwal()" data-tab="sorghum_task" onclick="startModule(event, sorghum_task);">
                                <a>SORGHUM</a>
                            </li>
                        </ul>
                    </div>
                    <div id="sms_task" class="navtab-content is-active">

                        <!--Tomatoes group -->
                        <div class="projects-list-wrapper">
                            <div class="list-header">
                                <div class="list-filter">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Filter Projects">
                                        <div class="form-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-filter">
                                                <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-body">
                                <div class="columns is-multiline">
                                    <div class="column">

                                        <!--Tomatoes group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">

                                                <!-- Task wrapper dropdown -->
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Input Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="createCrop('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="to_input" class="row_data" edit_type="click">
                                                  
                                                    </tbody>
                                                  </table>
                                                  
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Post Harvest Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="createph('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="to_harv">
                                                      
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Crop Management Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a href="#" onclick="createCMGT('crop')" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="to_mtg">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Production Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a href="#" onclick="createpro('crop')" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="to_pro">
                                                      
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Weather/Climate Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="createWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="to_we">
                                                      
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Aggregation Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="createaggr('crop')"  href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="to_aggr">
                                                     
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RICE PAGE STARTS HERE -->

                    <div id="statistics_task" class="navtab-content">

                        <!-- Files List -->
                        <div class="projects-list-wrapper">
                            <div class="list-body">
                                <div class="columns is-multiline">
                                    <div class="column">

                                        <!-- SMS group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">

                                                <!-- Task wrapper dropdown -->
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Input Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="riceInput('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="rice_input_details">
                                                     
                                                    </tbody>
                                                  </table>
                                                  
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Post Harvest Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="ricePH('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="rice_ph_details">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Crop Management Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="riceCM('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="rice_cm_details">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Production Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="ricePD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="rice_pro_details">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Weather/Climate Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="riceWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="rice_wc_details">
                                                    
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Aggregation Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="riceAD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="rice_aggr_details">
                                                      
                                                     
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--   Ground nut starts here -->
                    <div id="subscriber_task" class="navtab-content">


                        <!-- GROUNDNUT PAGE STARTS HERE -->

                        <!-- Acticity List -->
                        <div class="projects-list-wrapper">
                            <div class="list-header">
                                <div class="list-filter">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Filter Projects">
                                        <div class="form-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-filter">
                                                <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-body">
                                <div class="columns is-multiline">
                                    <div class="column">

                                        <!-- SMS group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">

                                                <!-- Task wrapper dropdown -->
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Input Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="groundnutInput('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="groundnut_input">
                                                     
                                                    </tbody>
                                                  </table>
                                                  
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Post Harvest Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="groundnutPH('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="groundnut_ph">
                                                    
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Crop Management Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="groundnutCMGT('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="groundnut_cmt">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Production Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="groundnutPD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="groundnut_pro">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Weather/Climate Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="groundnutWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="groundnut_wc">
                                                    
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Aggregation Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="groudnutAggr('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="groundnut_aggre">
                                                     
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--  groundnut ends here -->

                    <!-- Sorghum starts ************************************************************-->

                    <div id="sorghum_task" class="navtab-content">

                        <!-- Files List -->
                        <div class="projects-list-wrapper">
                            <div class="list-header">
                                <div class="list-filter">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="Filter Projects">
                                        <div class="form-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-filter">
                                                <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-body">
                                <div class="columns is-multiline">
                                    <div class="column">

                                        <!-- SMS group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">

                                                <!-- Task wrapper dropdown -->
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Input Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="sorghumInput('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="sorghum_input_table">
                                                     
                                                    </tbody>
                                                  </table>
                                                  
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Post Harvest Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="sorghumPHD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="sorghum_ph_table">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- /Task Group -->

                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Crop Management Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="sorghumCMGT('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="sorghum_cropMgt_table">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Production Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="sorghumPD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="sorghum_pro_table">
                                                     
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Weather/Climate Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="sorghumWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="sorghum_wc_table">
                                                     
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Aggregation Details</th>
                                                        <th scope="col">Description in English</th>
                                                        <th scope="col">Description in Hausa</th>
                                                        <th scope="col"><span class="btn_edit" > <a onclick="sorghumAGGRE('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody id="sorghum_aggre_table">
                                                    
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        <!-- Task group error tbody -->
                                        <div class="tasks-wrapper">
                                            <div class="header">
                                                
                                                <table class="table table-dark">
                                                    
                                                    <tbody>
                                                      <tr>
                                                        <th scope="row">1</th>
                                                        <td>Labelling</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">2</th>
                                                        <td>Pricing</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                      
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">3</th>
                                                        <td>Market Lineage</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                      
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">3</th>
                                                        <td>Off-Takers</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                                      
                                                      </tr>
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- Sorghum starts ends***************************************************** -->
                </div>
                <!-- End sms holder -->
            </div>
        </div>
    </div>
</div>