<div class="dashboard-inner">
    <style scoped>
        #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
#regForm h1 {
    text-align: center;
    font-size: 30px;
    color: green;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
    display: none;
}
button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
#prevBtn {
    background-color: #bbbbbb;
}
/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.step.active {
    opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}
.inputfield {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.tab h2 {
    font-size: 20px;
    color: green;
}

.inputfield span {
    color: red;
}
    </style>
    <form id="regForm" action="#">
        <h1>GAP Content:</h1>
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <h2>Inputs</h2>
            <div class="inputfield"><b>Seed Selection:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Seed selection ...." oninput="this.className"
                    required id="seedSelection" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Seed Sources:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Seed sources ...." oninput="this.className" required
                    id="seedSources" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Fertilizers:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Fertilizer ...." oninput="this.className"required data-limit=320 ></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Herbicides:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Herbicides ...." oninput="this.className"
                    required data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Crop Protection Product:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Crop protection product ...."
                    oninput="this.className" required data-limit=320></textarea><span class="countdown"></span>
            </div>
        </div>
        <div class="tab">
            <h2>Good Agronomic Practices (GAP)</h2>
            <div class="inputfield"><b>Land Selection:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Land selection ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Land preparation:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Land preparation ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Planting techniques:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Planting techniques ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Crop Management:</b> <br>
                <fieldset class="gapfieldset">
                    Weed Control <br>
                    <textarea name="" cols="100" rows="10" placeholder="Weed Control ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span> <br>
                    Fertilizer Application <br>
                    <textarea name="" cols="100" rows="10" placeholder="Ferilizer application ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
                    <br>
                    CPP Application <br>
                    <textarea name="" cols="100" rows="10" placeholder="CPP application ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
                    <br>
                    Pest and Disease Control <br>
                    <textarea name="" cols="100" rows="10" placeholder="Pest and disease control ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
                </fieldset>
            </div>

            <div class="inputfield"><b>Harvesting:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Harvesting ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Post Harvest Managementt:</b> <br>
                <fieldset class="gapfieldset">
                    Threshing / winnowing/Cleaning <br>
                    <textarea name="" cols="100" rows="10" placeholder="Threshing / winnowing/Cleaning  ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span> <br>
                    Drying <br>
                    <textarea name="" cols="100" rows="10" placeholder="Drying ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
                    <br>
                    Packaging <br>
                    <textarea name="" cols="100" rows="10" placeholder="Packaging ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
                    <br>
                    Storage <br>
                    <textarea name="" cols="100" rows="10" placeholder="Storage ...."
                        oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
                </fieldset>
            </div>
            <div class="inputfield"><b>Mechanization:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Mechanization ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
        </div>
        <div class="tab">
            <h2>Weather and Climate</h2>
            <!--<p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>
            <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p>-->
            <div class="inputfield"><b>Temperation</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Temperature ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Rainfall:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Seed sources ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Relative Humidity:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Relative humidity ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
        </div>
        <div class="tab">
            <h2>Aggregation</h2>
            <!--<p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>
            <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p>-->
            <div class="inputfield"><b>Labelling</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Labelling ...." oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Commodity Pricing:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Commodity pricing ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Market Linkage:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Market linkage ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
            <div class="inputfield"><b>Off-Takers:</b> <br>
                <textarea name="" cols="100" rows="10" placeholder="Off-takers ...."
                    oninput="this.className" data-limit=320></textarea><span class="countdown"></span>
            </div>
        </div>
        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>

</div>
