<div class="projects-list-wrapper">
  <h2 class="demo-title">Groundnut GAP Content</h2>
  <button  onclick="groudnutGapSwal()" class="button is-primary is-rounded is-left">Click to Refresh</button>
    <div class="list-body">
        <div class="columns is-multiline">
            <div class="column">

                <!-- SMS group -->
                <div class="tasks-wrapper">
                    <div class="header">

                        <!-- Task wrapper dropdown -->
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Input Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="groundnutInput('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="groundnut_input">
                             
                            </tbody>
                          </table>
                          
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Post Harvest Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="groundnutPH('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="groundnut_ph">
                            
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Crop Management Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="groundnutCMGT('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="groundnut_cmt">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Production Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="groundnutPD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="groundnut_pro">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Weather/Climate Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="groundnutWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="groundnut_wc">
                            
                              </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Aggregation Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="groudnutAggr('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="groundnut_aggre">
                             
                              </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>