<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <h2 class="demo-title">NGO Datatable 
                    <button class="button is-primary" onclick="updateFromSMAP();">
                        Refresh NGO
                    </button>
                </h2>
</div>
</div>
</div>
</div>
               
               