<div class="columns is-full">

    <div class="columns nvri_users is-vcentered is-multiline animated preFadeInUp fadeInUp">
        <!-- Registered Users -->
        <div class="column is-full">
            <h2 class="button btn-dash secondary-btn is-raised">Diagnosis</h2>
        </div>
    </div>
</div>

<div class="column" style="padding: 5px;">
    <table class="table is-bordered" style="border-radius: 5px;">
        <thead>
          <tr style="background-color: #00d1b2;">
            <th><abbr title="Position">Pos</abbr></th>
            <th>Diagnoses Queries</th>
            <th>Status</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td></td>
            <td><b>Cattle</b> <br>Foot and Mouth disease diagnosed <br>Keywords: Salivation, Blisters, wounds in mouth & feet
            </td>
            <td>
                <p class="control">
                    <div class="b-checkbox is-primary">
                        <input id="checkbox" class="styled" checked type="checkbox">
                        <label for="checkbox">
                            complete
                        </label>
                    </div>
                </p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><b>Pig</b> <br>Foot and Mouth disease diagnosed <br>Keywords: Salivation, Blisters, wounds in mouth & feet
            </td>

            <td>
                <p class="control">
                    <div class="b-checkbox is-primary">
                        <input id="checkbox" class="styled" type="checkbox">
                        <label for="checkbox">
                            Incomplete
                        </label>
                    </div>
                </p>
            </td>                                        
          </tr>

          <tr>
            <td></td>
            <td><b>Sheep</b> <br>Babesiosis diagnosed. <br>Keywords: High Fever, Urine is red, yellow mucous membrane
            </td>

            <td>
                <p class="control">
                    <div class="b-checkbox is-primary">
                        <input id="checkbox" class="styled" type="checkbox">
                        <label for="checkbox">
                            Incomplete
                        </label>
                    </div>
                </p>
            </td>                                        
          </tr>
          
        </tbody>
      </table>
</div>