<div class="columns is-full">

    <div class="columns is-vcentered is-multiline animated preFadeInUp fadeInUp">
        <!-- Team member -->
        <div class="column is-full">
            Meddle
        </div>
        <div class="column is-4">
            <div class="flex-card team-card light-bordered light-raised">
                <div class="card-heading padding-10">
                    <span class="tag is-success">Active</span>
                </div>
                <div class="card-body">
                    <div class="avatar">
                        <img src="https://www.gravatar.com/avatar/?d=identicon" alt="" data-demo-src="https://www.gravatar.com/avatar/?d=identicon">
                    </div>
                    <div class="user-id">
                        <div class="name">James Majemite</div>
                        <div class="position">BackEnd Developer</div>
                        <div class="location"><i class="sl sl-icon-globe"></i>
                            Abuja</div>
                    </div>
                    <div class="user-description">
                        James is a specialist on backend development and
                        abandoned
                        our art recovery process
                    </div>
                    <div class="card-action has-text-centered">
                        <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">Profile</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member -->
        <div class="column is-4">
            <div class="flex-card team-card light-bordered light-raised">
                <div class="card-heading padding-10">
                    <span class="tag">Offline</span>
                </div>
                <div class="card-body">
                    <div class="avatar">
                        <img src="https://www.gravatar.com/avatar/?d=identicon" alt="" data-demo-src="https://www.gravatar.com/avatar/?d=identicon">
                    </div>
                    <div class="user-id">
                        <div class="name">Moses Alton</div>
                        <div class="position">Senior Agronomist </div>
                        <div class="location"><i class="sl sl-icon-globe"></i>
                            Abuja</div>
                    </div>
                    <div class="user-description">
                        Moses is the big boss of Abuja at FarmAid and an
                        Online specialist
                    </div>
                    <div class="card-action has-text-centered">
                        <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">Profile</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member -->
        <div class="column is-4">
            <div class="flex-card team-card light-bordered light-raised">
                <div class="card-heading padding-10">
                    <span class="tag is-success">Online</span>
                </div>
                <div class="card-body">
                    <div class="avatar">
                        <img src="https://www.gravatar.com/avatar/?d=identicon" alt="" data-demo-src="https://www.gravatar.com/avatar/?d=identicon">
                    </div>
                    <div class="user-id">
                        <div class="name">Don Omuobun</div>
                        <div class="position">Full Stack Developer</div>
                        <div class="location"><i class="sl sl-icon-globe"></i>
                            Abuja</div>
                    </div>
                    <div class="user-description">
                        Don handles the tech stack setup of while he sends out
                        subscribers features
                    </div>
                    <div class="card-action has-text-centered">
                        <button class="button btn-dash rounded secondary-btn is-fullwidth ripple no-lh">Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>