<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">
                <div class="pricing-table">
                    <div class="pricing-plan">
                      <div class="plan-header">Basic</div>
                      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">N</span>200,000</span></div>
                      <div class="plan-items">
                        <div class="plan-item">15,000 Farmers</div>
                        <div class="plan-item">45,000 messages</div>
                        <div class="plan-item">1 State</div>
                        <div class="plan-item">2 Value Chains</div>
                      </div>
                      <div class="plan-footer">
                        <button class="button is-fullwidth" disabled="disabled">Current plan</button>
                      </div>
                    </div>
                  
                    <div class="pricing-plan is-warning">
                      <div class="plan-header">Silver</div>
                      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">N</span>300,000</span></div>
                      <div class="plan-items">
                        <div class="plan-item">50,000 Farmers</div>
                        <div class="plan-item">75,000 Messages</div>
                        <div class="plan-item">2 States</div>
                        <div class="plan-item">2 Value Chains</div>
                      </div>
                      <div class="plan-footer">
                        <button class="button is-fullwidth">Choose</button>
                      </div>
                    </div>
                  
                    <div class="pricing-plan is-active">
                      <div class="plan-header">Bronze</div>
                      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>400,000</span></div>
                      <div class="plan-items">
                        <div class="plan-item">100,000 Farmers</div>
                        <div class="plan-item">200,000 Messages</div>
                        <div class="plan-item">2 States</div>
                        <div class="plan-item">3 Value Chains</div>
                      </div>
                      <div class="plan-footer">
                        <button class="button is-fullwidth">Choose</button>
                      </div>
                    </div>
                  
                    <div class="pricing-plan is-danger">
                      <div class="plan-header">Enterprise</div>
                      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">N</span>500,000</span></div>
                      <div class="plan-items">
                        <div class="plan-item">200,000 Farmers</div>
                        <div class="plan-item">500,000 messages</div>
                        <div class="plan-item">2 States</div>
                        <div class="plan-item">4 Value Chains</div>
                      </div>
                      <div class="plan-footer">
                        <button class="button is-fullwidth">Choose</button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>