 <!-- Files List -->
 <div class="projects-list-wrapper">
  <h2 class="demo-title">Rice GAP Content</h2>
  <button  onclick="riceGapSwal()" class="button is-primary is-rounded is-left">Click to Refresh</button>
    <div class="list-body">
        <div class="columns is-multiline">
            <div class="column">

                <!-- SMS group -->
                <div class="tasks-wrapper">
                    <div class="header">

                        <!-- Task wrapper dropdown -->
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Input Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceInput('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceInputHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="rice_input_details">
                             
                            </tbody>
                          </table>
                          
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Post Harvest Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="ricePH('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="ricePHHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="rice_ph_details">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Crop Management Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceCM('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceCMHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="rice_cm_details">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Production Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="ricePD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="ricePDHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="rice_pro_details">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Weather/Climate Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceWCHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="rice_wc_details">
                            
                              </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Aggregation Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceAD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="riceADHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="rice_aggr_details">
                              
                             
                              </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>