<div class="dashboard-inner">
  <!-- Dashboard Wrapper -->
  <div class="dashboard-wrapper">
    <div class="columns" style="margin-bottom: 10px; margin-left: 4px;">
      <div class="column is-7">
        <a onclick="goHomePartner();" href="javascript:">Dashboard</a> &nbsp;|&nbsp;
        <a href="#sms_history">SMS History</a> &nbsp;|&nbsp; Send New SMS
        <!--<a href="#" class="button subs_info_section_button no-block">SMS History</a>-->
      </div>
    </div>
    <!-- Main content -->
    <div class="columns contact-profile">
      <div class="column is-8">
        <!-- Contact informations -->
        <div
          class="flex-card is-contact-info light-bordered send-message-wrapper"
        >
          <div class="message-filter-box">
            <h1>Please use the options below to target specific farmers:</h1>
            <hr />
            <div class="columns">
              <div class="column is-3">
                <h2>Farmer Location:</h2>
              </div>
              <div class="column">
                <div class="columns">
                  <input
                    class="column is-checkradio is-success has-background-color select_state"
                    value="adamawa"
                    id="adamawa"
                    type="checkbox"
                  />
                  <label for="adamawa">Adamawa</label>
                  <input
                    class="column is-checkradio is-success has-background-color select_state"
                    value="gombe"
                    id="gombe"
                    type="checkbox"
                  />
                  <label for="gombe">Gombe</label>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-3">
                <h2>Target Crops:</h2>
              </div>
              <div class="column">
                <div class="columns">
                  <input
                    class="column is-4 is-checkradio is-success has-background-color select_crops"
                    value="rice"
                    id="rice_crop"
                    type="checkbox"
                  />
                  <label for="rice_crop">Rice</label>
                  <input
                    class="column is-4 is-checkradio is-success has-background-color select_crops"
                    value="groundnut"
                    id="groundnut_crop"
                    type="checkbox"
                  />
                  <label for="groundnut_crop">Groundnut</label>
                  <input
                    class="column is-4 is-checkradio is-success has-background-color select_crops"
                    value="tomato"
                    id="tomato_crop"
                    type="checkbox"
                  />
                  <label for="tomato_crop">Tomatoes</label>
                  <input
                    class="column is-4 is-checkradio is-success has-background-color select_crops"
                    value="sorghum"
                    id="sorghum_crop"
                    type="checkbox"
                  />
                  <label for="sorghum_crop">Soghurm</label>
                </div>
              </div>
            </div>
          </div>
          <div class="message-compose-container">
            <h1>Your Message:</h1>
            <textarea
              name="message"
              id="message"
              placeholder="Type message here"
              autofocus
            ></textarea>
            <div
              id="the-count"
              class="message-count"
              style="
                margin-top: -30px;
                position: absolute;
                right: 0;
                margin-right: 46px;
                color: #aaa;
              "
            >
              <span>Page:&nbsp;</span><span id="messages">1</span> |
              <span id="remaining">160</span>
            </div>
            <div class="columns" style="margin-top: 10px;">
              <div class="column">
                <label for="smslang">Translate Message ? &nbsp;</label>
                <select id="smslang" class="custom-select" style="width: 200px;">
                  <option label="Select Language"></option>
                  <option label="Hausa"></option>
                  <option label="Igbo"></option>
                  <option label="Yoruba"></option>
                </select>
              </div>
              <div class="column">
                <div id="continue_metrics" class="button subs_info_section_button white-button no-block">
                Confirm message
              </div>
              </div>
            </div>
            <div class="translated-sms is-hidden">
              <textarea
                name="trans_message"
                id="trans_message"
                placeholder="Type message here"
                autofocus
              ></textarea>
              <div class="update-button">
                <a href="#" class="button subs_info_section_button no-block"
                  >Use this
                </a>
              </div>
            </div>
          </div>
          <br /><br />
        </div>
      </div>
      <div class="column is-4">
        <div
          class="flex-card is-avatar light-bordered card-overflow message-summary-card"
        >
          <h1>Summary</h1>
          <hr />
          <div class="farmer-count-wrapper">
            <div class="columns is-vcentered">
              <div class="column is-6">
                <div class="field">
                  <label>Farmer Reach:</label>
                </div>
              </div>
              <div class="column is-6 ">
                <div class="columns is-vcentered">
                  <input id="farmer_counter_total"
                    class="column input is-primary farmer-count-text farmer-count-text-noedit"
                    type="text"
                    required
                    readonly
                    placeholder="13508" style="padding-right: 5px; padding-left: 4px;"
                  />                  
                  <i style="font-weight: bold; font-size: 16px; border-radius: 4px; background-color: 3fa790;" id="modify_farmer_count" class="fa fa-pencil column modify-count-button is-vcentered pull-right">Edit</i>
                
                </div>
              </div>
            </div>
          </div><br>
          <div class="columns sms-summary-row is-vcentered is-mobile">
            <div class="column is-5 is-mobile">
              SMS Pages:
            </div>
            <div class="column is-7 text-right">
              <span id="number_of_message_pages">1</span>
            </div>
          </div>
          <div class="columns sms-summary-row is-vcentered is-mobile">
            <div class="column is-5">
              Total SMS Count:
            </div>
            <div class="column is-7 text-right">
              <span id="total_sms_counted">X,---</span><span>&nbsp;Units</span>
            </div>
          </div>
          <div class="columns sms-summary-row is-vcentered is-mobile">
            <div class="column is-5">
              Cost:
            </div>
            <div class="column is-7 text-right">
              <span id="total_sms_cost_amount">₦--,---</span>
            </div>
          </div>
          <div class="inner">
            <div class="is-centered">
              <br /><br />
              <div
                onclick="newMessage(event)"
                id="prev_it"
                class="white-button-disabled button subs_info_section_button white-button no-block"
              >
                Preview Message
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button  class="side-icon">check</button> -->
    <div id="basic-layout" class="columns dashboard-columns dashboard-tiles">
      <div class="market_actor_info_container"></div>
    </div>
    <!-- Widgets -->
    <div></div>
  </div>
</div>
