<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <div class="columns">
                    <div onclick="newMessage(event)" id="ma_start_message" class="column is-2" style="background-color: #00d1b2; color: white; border-radius: 10px; font-weight: bold; text-align: center; cursor: pointer;">
                        Send new SMS
                    </div> &nbsp;&nbsp;&nbsp;
                    <div class="column is-2" style="background-color: white; color: #00d1b2; border-radius: 10px; font-weight: bold; text-align: center; cursor: pointer; display: none;">
                        View Analytics
                    </div>
                    <div class="column">

                    </div>
                </div>
                <br>

                <!-- Begin sms holder -->
                
                <div class="columns">
                    <div class="column" style="background-color: white; margin-left: 0p;">
                        <p>SMS History</p>
                        
                        <div class="field">
                            <input class="is-checkradio" id="exampleCheckbox" type="checkbox" name="exampleCheckbox" checked="checked">
                            <label for="exampleCheckbox">Check me</label>
                        </div>
                        <div class="field">
                            <input class="is-checkradio" id="exampleRadioInline1" type="radio" name="exampleRadioInline" checked="checked">
                            <label for="exampleRadioInline1">Option 1</label>
                            <input class="is-checkradio" id="exampleRadioInline2" type="radio" name="exampleRadioInline">
                            <label for="exampleRadioInline2">Option 2</label>
                        </div>
                        <div class="bd-notification is-dark">
                            <div class="columns is-multiline">
                                <div class="column">
                                  <div class="box has-ribbon">
                                    <div class="ribbon">Default</div>
                                    Box content
                                  </div>
                                </div>
                                <div class="column">
                              
                                  <div class="box has-ribbon">
                                    <div class="ribbon is-primary">Primary</div>
                                    Box content
                                  </div>
                                </div>
                                <div class="column">
                                  <div class="box has-ribbon">
                                    <div class="ribbon is-warning">Warning</div>
                                    Box content
                                  </div>
                                </div>
                                <div class="column">
                                  <div class="box has-ribbon">
                                    <div class="ribbon is-danger">Danger</div>
                                    Box content
                                  </div>
                                </div>
                              </div>
                              <div class="columns is-multiline">
                                <div class="column">
                                <div class="box has-ribbon is-small">
                                  <div class="ribbon is-small is-primary">Small ribbon</div>
                                  Box content
                                </div>
                              </div>
                              
                                <div class="column">
                                  <div class="box has-ribbon is-small">
                                    <div class="ribbon is-medium is-primary">Medium ribbon</div>
                                    Box content
                                  </div>
                                </div>
                              
                                <div class="column">
                                  <div class="box has-ribbon is-small">
                                    <div class="ribbon is-large is-primary">Large ribbon</div>
                                    Box content
                                  </div>
                                </div>
                              </div>
                              <div class="columns is-multiline">
                                <div class="column">
                                  <div class="box has-ribbon-left is-small">
                                    <div class="ribbon is-small is-primary">Left ribbon</div>
                                    Box content
                                  </div>
                                </div>
                              
                                <div class="column">
                                  <div class="box has-ribbon-bottom is-small">
                                    <div class="ribbon is-small is-primary">Bottom ribbon</div>
                                    Box content
                                  </div>
                                </div>
                              </div>
                        </div>
                        <hr>
                        <table class="is-hidden table is-bordered" style="border-radius: 5px;">
                            <thead>
                                <style scoped>
                                    .table.is-bordered th {
                                        color:white;
                                        text-align: center;
                                    }
                                </style>
                              <tr style="background-color: #00d1b2">
                                <th><abbr title="Position">S/N</abbr></th>
                                <th>Date</th>
                                <th>Message</th>
                                <th>Value Chains</th>
                                <th>Message</th>
                                <th>Recipients</th>
                                <th>Recipient State</th>
                                <th>SMS Count</th>
                                <th>Message</th>
                                <th>Cost</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                              <tr>
                                <td></td>
                                <td>22/10/2020
                                </td>
                                <td>
                                    <b>Cattle</b> <br>Foot and Mouth disease diagnosed <br>Keywords: Salivation, Blisters, wounds in mouth &amp; feet
                                </td>
                                <td>
                                    ksksks
                                </td>
                                <td>
                                    ksksks
                                </td>
                                <td>
                                    ksksks
                                </td>
                                <td>
                                    ksksks
                                </td>
                                <td>
                                    ksksks
                                </td>
                                <td>
                                    ksksks
                                </td>
                                <td>
                                    ksksks
                                </td>
                                <td>
                                    ksksks
                                </td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>                    
                </div>
                <!-- End sms holder -->
            </div>
        </div>
    </div>
</div>