<div class="dashboard-inner">
  <!-- Dashboard Wrapper -->
  <div class="dashboard-wrapper">
    <div class="columns" style="margin-bottom: 10px; margin-left: 4px;">
      <div class="column is-7">
        <a onclick="goHomePartner();" href="javascript:">Dashboard</a>
        &nbsp;|&nbsp; SMS History &nbsp;|&nbsp; <a href="#sms">Send New SMS</a>
        <!--<a href="#" class="button subs_info_section_button no-block">SMS History</a>-->
      </div>
    </div>
    <!-- Main content -->
    <div class="columns contact-profile">
        <table class="table is-bordered is-striped is-fullwidth">
          <tr class="th is-selected">
            <th>S/N.</th>
            <th>Name</th>
            <th>Date</th>
            <th>Message</th>
            <th>Value Chains</th>
            <th>Recipients</th>
          </tr>
          <tr>
            <td>Mike</td>
            <td>80</td>
            <td>55</td>
            <td>75</td>
            <td>210</td>
          </tr>
          <tr>
            <td>Haynes</td>
            <td>70</td>
            <td>65</td>
            <td>40</td>
            <td>175</td>
          </tr>

          <tr>
            <td>Hina</td>
            <td>70</td>
            <td>52</td>
            <td>63</td>
            <td>185</td>
          </tr>
          <tr>
            <td>Johny</td>
            <td>55</td>
            <td>53</td>
            <td>42</td>
            <td>150</td>
          </tr>
        </table>
    </div>
    <!-- <button  class="side-icon">check</button> -->
    <div id="basic-layout" class="columns dashboard-columns dashboard-tiles">
      <div class="market_actor_info_container"></div>
    </div>
    <!-- Widgets -->
    <div></div>
  </div>
</div>
