<div class="dashboard-inner">
  <!-- Dashboard Wrapper -->
  <div class="dashboard-wrapper">
    <div class="columns" style="margin-bottom: 10px; margin-left: 4px;">
      <div class="column is-7">
        <a onclick="goHomePartner();" href="javascript:">Dashboard</a>
        &nbsp;|&nbsp; SMS History &nbsp;|&nbsp; <a href="#sms">Send New SMS</a>
        <!--<a href="#" class="button subs_info_section_button no-block">SMS History</a>-->
      </div>
    </div>
    <!-- Main content -->
    <div class="columns contact-profile">
        
        <table class="ttable is-bordered is-striped is-fullwidth">
          <thead>
            <tr class="th is-selected">
              <th>S/N</th>
              <th scope="col">Date</th>
              <th scope="col">Message</th>
              <th scope="col">Value Chains</th>
              <th scope="col">Recipients</th>
              <th scope="col">Recipients state</th>
              <th scope="col">SMS Count</th>
              <th scope="col">Cost (&#x20A6;)</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="ma_sms_history">
           
          </tbody>
        </table>
    </div>
    <!-- <button  class="side-icon">check</button> -->
    <div id="basic-layout" class="columns dashboard-columns dashboard-tiles">
      <div class="market_actor_info_container"></div>
    </div>
    <!-- Widgets -->
    <div></div>
  </div>
</div>
