<div class="dashboard-inner">
    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">
      <div class="columns" style="margin-bottom: 10px; margin-left: 4px;">
        <div class="column is-7">
          <a onclick="goHomePartner();" href="javascript:">Dashboard</a> &nbsp;|&nbsp;
          SMS History &nbsp;|&nbsp; <a href="#sms">Send New SMS</a>
          <!--<a href="#" class="button subs_info_section_button no-block">SMS History</a>-->
        </div>
      </div>
      <!-- Main content -->
      <div class="columns contact-profile">
        <div class="column is-8">
          <!-- Contact informations -->
          <div
            class="flex-card is-contact-info light-bordered send-message-wrapper"
          >
          </div>
        </div>
        <div class="column is-4">
          <div class="flex-card is-avatar light-bordered card-overflow message-summary-card">
          </div>
        </div>
      </div>
      <!-- <button  class="side-icon">check</button> -->
      <div id="basic-layout" class="columns dashboard-columns dashboard-tiles">
        <div class="market_actor_info_container"></div>
      </div>
      <!-- Widgets -->
      <div></div>
    </div>
  </div>
  