<!-- Style for sms -->
<style scoped>
    /* Style the tab *****************************************************************************************/
    .tab {
        overflow: hidden;
        border: 1px solid rgb(200, 213, 187);
        background-color: #f1f1f1;
    }

    .container-sms {
        margin: auto;
        width: 70%;
        padding-bottom: 20px;
        margin-top: 50px;
        border: 1px soild black;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: rgb(89, 199, 230);
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: rgb(200, 213, 187);
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid rgb(200, 213, 187);
        border-top: none;
        background-color: rgb(211, 228, 207);
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .form-style-2 {
        max-width: 100vw;
        padding: 20px 12px 10px 20px;
        font: 13px Arial, Helvetica, sans-serif;
        display: flex;
    }

    .form-style-2 .message-field {
        margin: auto;
        margin-top: 100px;
    }

    .form-style-2-heading {
        font-weight: bold;
        font-style: italic;
        border-bottom: 2px solid #ddd;
        margin-bottom: 20px;
        font-size: 15px;
        padding-bottom: 30px;
        margin-top: 30px;
    }

    .form-style-2 label {
        display: block;
        margin: 0px 0px 15px 0px;
    }

    .form-style-2 label>span {
        width: 100px;
        font-weight: bold;
        float: left;
        padding-top: 8px;
        padding-right: 5px;
    }

    .form-style-2 span.required {
        color: red;
    }

    .form-style-2 input.input-field,
    .form-style-2 .select-field {
        width: 48%;
    }

    .form-style-2 input.input-field,
    .form-style-2 .textarea-field,
    .form-style-2 .select-field {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #C2C2C2;
        box-shadow: 1px 1px 4px #EBEBEB;
        -moz-box-shadow: 1px 1px 4px #EBEBEB;
        -webkit-box-shadow: 1px 1px 4px #EBEBEB;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding: 7px;
        outline: none;
    }

    .form-style-2 .input-field:focus,
    :focus,
    .form-style-2 .textarea-field:focus,
    .form-style-2 .select-field:focus {
        border: 1px solid #0C0;
    }

    .form-style-2 .textarea-field {
        height: 200px;
        width: 30vw;
    }

    .form-style-2 input[type=submit],
    .form-style-2 input[type=button] {
        border: none;
        padding: 8px 15px 8px 15px;
        background: #FF8500;
        color: #fff;
        box-shadow: 1px 1px 4px #DADADA;
        -moz-box-shadow: 1px 1px 4px #DADADA;
        -webkit-box-shadow: 1px 1px 4px #DADADA;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }

    .form-style-2 input[type=submit]:hover,
    .form-style-2 input[type=button]:hover {
        background: #EA7B00;
        color: #fff;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    :root {
        --color-paid: #7fdbff;
        --color-sent: #39cccc;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #q-graph {
        display: block;
        /* fixes layout wonkiness in FF1.5 */
        position: relative;
        width: 600px;
        height: 300px;
        margin: 6.1em 0 0;
        padding: 0;
        background: transparent;
        font-size: 11px;
        margin-left: 100px;
    }

    #q-graph caption {
        caption-side: top;
        width: 600px;
        text-transform: uppercase;
        letter-spacing: .5px;
        top: -40px;
        position: relative;
        z-index: 10;
        font-weight: bold;
    }

    #q-graph tr,
    #q-graph th,
    #q-graph td {
        position: absolute;
        bottom: 0;
        width: 150px;
        z-index: 2;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #q-graph td {
        transition: all .3s ease;
    }

    #q-graph td:hover {
        background-color: desaturate(#85144b, 100);
        opacity: .9;
        color: white;
    }

    #q-graph thead tr {
        left: 100%;
        top: 50%;
        bottom: auto;
        margin: -2.5em 0 0 5em;
    }

    #q-graph thead th {
        width: 7.5em;
        height: auto;
        padding: 0.5em 1em;
    }

    #q-graph thead th.sent {
        top: 0;
        left: 0;
        line-height: 2;
    }

    #q-graph thead th.paid {
        top: 2.75em;
        line-height: 2;
        left: 0;
    }

    #q-graph tbody tr {
        height: 296px;
        padding-top: 2px;
        border-right: 1px dotted #C4C4C4;
        color: #AAA;
    }

    #q-graph #q1 {
        left: 0;
    }

    #q-graph #q2 {
        left: 150px;
    }

    #q-graph #q3 {
        left: 300px;
    }

    #q-graph #q4 {
        left: 450px;
        border-right: none;
    }

    #q-graph tbody th {
        bottom: -1.75em;
        vertical-align: top;
        font-weight: normal;
        color: #333;
    }

    #q-graph .bar {
        width: 60px;
        border: 1px solid;
        border-bottom: none;
        color: #000;
    }

    #q-graph .bar p {
        margin: 5px 0 0;
        padding: 0;
        opacity: .4;
    }

    #q-graph .sent {
        left: 13px;
        background-color: var(--color-sent);
        border-color: transparent;
    }

    #q-graph .paid {
        left: 77px;
        background-color: var(--color-paid);
        border-color: transparent;
    }

    #ticks {
        position: relative;
        top: -300px;
        left: 2px;
        width: 596px;
        height: 300px;
        z-index: 1;
        margin-bottom: -300px;
        font-size: 10px;
        font-family: "fira-sans-2", Verdana, sans-serif;
    }

    #ticks .tick {
        position: relative;
        border-bottom: 1px dotted #C4C4C4;
        width: 600px;
    }

    #ticks .tick p {
        position: absolute;
        left: -5em;
        top: -0.8em;
        margin: 0 0 0 0.5em;
    }
</style>
<!-- End style -->

<div class="container-sms">
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')">Send SMS</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Recieved Msg</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Sent Msg</button>
        <button class="tablinks" onclick="openCity(event, 'Dubai')">Subscribers</button>
        <button class="tablinks" onclick="openCity(event, 'Lagos')">Statistics</button>
    </div>
    <div id="London" class="tabcontent">
        <div class="form-style-2">
            <div>
                <div class="form-style-2-heading">Provide your information</div>
                <form action="" method="post">
                    <label for="field1"><span>TO <span class="required">*</span></span>
                        <input type="text" class="input-field" id="toField" name="field1" value="" /></label>
                    <label for="field4"><span>STATE</span>
                        <select name="field4" class="select-field">
                            <option value="General Question">ADAMAWA</option>
                            <option value="Advertise">GOMBE</option>
                        </select>
                    </label>
                    <label for="field4"><span>LGA</span>
                        <select name="field4" class="select-field">
                            <option value="General Question">FURUE</option>
                            <option value="Advertise">GANYE</option>
                        </select>
                    </label>
                    <div class="form-style-2-heading">CROPS</div>
                    <label for="field4"><span>Select Crop</span>
                        <select name="field4" class="select-field">
                            <option value="General Question">RICE</option>
                            <option value="Advertise">Tomatoes</option>
                            <option value="Partnership">Groundnut</option>
                            <option value="Partnership">Sorghum</option>
                        </select>
                    </label>
                    <label for="field4"><span>Variety</span>
                        <select name="field4" class="select-field">
                            <option value="General Question">Variety</option>
                            <option value="Advertise">Tomatoes</option>
                            <option value="Partnership">Groundnut</option>
                            <option value="Partnership">Sorghum</option>
                        </select>
                    </label>
                    <div class="form-style-2-heading">ANIMIALS</div>
                    <label for="field4"><span>Select Animal</span>
                        <select name="field4" class="select-field">
                            <option value="General Question">COW</option>
                            <option value="Advertise">SNAIL</option>
                        </select>
                    </label>
            </div>
            <div class="message-field">
                <label for="field5"><span>Message <span class="required">*</span></span>
                    <textarea name="field5" id="msg" class="textarea-field"></textarea></label>
                <label><span> </span><input onclick="sendSMS()" id="submitSMS" type="submit" value="SEND" /></label>
            </div>
            </form>
        </div>
    </div>
    <div id="Paris" class="tabcontent">
        <div class="form-style-2-heading">LIST OF RECIEVED MESSAGES</div>
        <table>
            <tr>
                <th>MESSAGES</th>
                <th>TIME</th>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
        </table>
    </div>
    <div id="Tokyo" class="tabcontent">
        <div class="form-style-2-heading">LIST OF SENT MESSAGES</div>
        <table>
            <tr>
                <th>MESSAGES</th>
                <th>TIME</th>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
            <tr>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                </td>
                <td>1/22/2020, 02:34:04 AM</td>
            </tr>
        </table>
    </div>
    <div id="Dubai" class="tabcontent">
        <div class="form-style-2-heading">SUBSCRIPTION REQUEST</div>
        <table>
            <tr>
                <th>FARMER NAME</th>
                <th>CROPS</th>
                <th>LOCATION</th>
                <th>NUMBER</th>
            </tr>
            <tr>
                <td>Melvin Femi</td>
                <td>RICE</td>
                <td>GOMBE</td>
                <td>+2340984857634</td>
            </tr>
            <tr>
                <td>Constane Nkechi</td>
                <td>TOMAMTOES</td>
                <td>ADAMAMWA</td>
                <td>+2340984857634</td>
            </tr>
            <tr>
                <td>Bola Chinelo</td>
                <td>GROUNDNUT</td>
                <td>ADAMAWA</td>
                <td>+2340984857634</td>
            </tr>
            <tr>
                <td>Moses Don</td>
                <td>SORGHUM</td>
                <td>GOMBE</td>
                <td>+2340984857634</td>
            </tr>
        </table>
    </div>
    <div id="Lagos" class="tabcontent">
        <table id="q-graph">
            <caption>Quarterly Results</caption>
            <thead>
                <tr>
                    <th></th>
                    <th class="sent">Invoiced</th>
                    <th class="paid">Collected</th>
                </tr>
            </thead>
            <tbody>
                <tr class="qtr" id="q1">
                    <th scope="row">Q1</th>
                    <td class="sent bar" style="height: 111px;">
                        <p>$18,450.00</p>
                    </td>
                    <td class="paid bar" style="height: 99px;">
                        <p>$16,500.00</p>
                    </td>
                </tr>
                <tr class="qtr" id="q2">
                    <th scope="row">Q2</th>
                    <td class="sent bar" style="height: 206px;">
                        <p>$34,340.72</p>
                    </td>
                    <td class="paid bar" style="height: 194px;">
                        <p>$32,340.72</p>
                    </td>
                </tr>
                <tr class="qtr" id="q3">
                    <th scope="row">Q3</th>
                    <td class="sent bar" style="height: 259px;">
                        <p>$43,145.52</p>
                    </td>
                    <td class="paid bar" style="height: 193px;">
                        <p>$32,225.52</p>
                    </td>
                </tr>
                <tr class="qtr" id="q4">
                    <th scope="row">Q4</th>
                    <td class="sent bar" style="height: 110px;">
                        <p>$18,415.96</p>
                    </td>
                    <td class="paid bar" style="height: 195px;">
                        <p>$32,425.00</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="ticks">
            <div class="tick" style="height: 59px;">
                <p>$50,000</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>$40,000</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>$30,000</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>$20,000</p>
            </div>
            <div class="tick" style="height: 59px;">
                <p>$10,000</p>
            </div>
        </div>
    </div>
</div>

