<div class="projects-list-wrapper">
      <h2 class="demo-title">Sorghum GAP Content</h2>
      <button  onclick="sorghumGapSwal()" class="button is-primary is-rounded is-left">Click to Refresh</button>
    <div class="list-body">
        <div class="columns is-multiline">
            <div class="column">

                <!-- SMS group -->
                <div class="tasks-wrapper">
                    <div class="header">

                        <!-- Task wrapper dropdown -->
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Input Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumInput('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumInputHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="sorghum_input_table">
                             
                            </tbody>
                          </table>
                          
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Post Harvest Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumPHD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumPHDHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="sorghum_ph_table">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Crop Management Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumCMGT('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="sorghum_cropMgt_table">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Production Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumPD('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="sorghum_pro_table">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Weather/Climate Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="sorghum_wc_table">
                             
                              </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Aggregation Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="sorghumAGGRE('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="sorghum_aggre_table">
                            
                              </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group error tbody -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Labelling</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Pricing</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                              
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Market Lineage</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                              
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Off-Takers</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
                              
                              </tr>
                              </tbody>
                          </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>