<!--Tomatoes group -->
<div class="projects-list-wrapper">
    <div class="list-header">
      <h2 class="demo-title">Tomatoes GAP Content</h2>
      <button  onclick="toGapSwal()" class="button is-primary is-rounded is-left">Click to Refresh</button>
    </div>
    <div class="list-body">
        <div class="columns is-multiline">
            <div class="column">

                <!--Tomatoes group -->
                <div class="tasks-wrapper">
                    <div class="header">

                        <!-- Task wrapper dropdown -->
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Input Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createCrop('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createCropHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="to_input" class="row_data" edit_type="click">
                          
                            </tbody>
                          </table>
                          
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Post Harvest Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createph('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createphHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="to_harv">
                              
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- /Task Group -->

                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Crop Management Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a href="#" onclick="createCMGT('crop')" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a href="#" onclick="createCMGTHausa('crop')" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="to_mtg">
                             
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Production Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a href="#" onclick="createpro('crop')" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a href="#" onclick="createproHausa('crop')" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="to_pro">
                              
                            </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Weather/Climate Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createWC('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createWCHausa('crop')" href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="to_we">
                              
                              </tbody>
                          </table>
                    </div>
                </div>
                <!-- Task group -->
                <div class="tasks-wrapper">
                    <div class="header">
                        
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Aggregation Details</th>
                                <th scope="col">Description in English</th>
                                <th scope="col">Description in Hausa</th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createaggr('crop')"  href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Eng</a> </span></th>
                                <th scope="col"><span class="btn_edit" > <a onclick="createaggrHausa('crop')"  href="#" class="btn btn-link " row_id="'+row_id+'" >Edit Hau</a> </span></th>
                              </tr>
                            </thead>
                            <tbody id="to_aggr">
                             
                              </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>