<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <!-- Page title -->
                <div class="contacts-title-wrapper">
                    <h3 class="contacts-title">Platform Users</h3>
                    <!-- Filter input -->
                    <div class="list-filter">
                        <div class="control is-hidden-phones">
                            <input class="input" type="text" placeholder="Filter Contacts">
                            <div class="form-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-filter">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                </svg>
                            </div>
                        </div>
                        <!-- Add contact button -->
                        <a onclick="newUser();" id="create-user" class="button btn-dash secondary-btn btn-dash raised ripple has-icon modal-trigger"
                            data-ripple-color="" data-modal="create-contact-modal">
                            <i class="material-icons">add</i>
                            Create User
                        </a>
                    </div>
                </div>

                <!-- Contacts grid -->
                <div class="columns is-multiline is-contacts-grid" id="users_page">
                   
                    <!-- <div class="column is-4">
                        <div class="contact-card"> -->
                            <!-- Progress bar -->
                            <!-- <div class="progress-block">
                                <progress class="progress is-xs is-secondary" value="100" max="100">100%</progress>
                                <div class="task-count">
                                    <span class="sl sl-icon-pencil"></span>
                                    <span>100%</span>
                                </div>
                            </div> -->
                            <!-- Contact info -->
                            <!-- <div class="contact-block">
                                <img src="assets/images/avatars/carolin.png" alt=""
                                    data-demo-src="assets/images/avatars/carolin.png">
                                <div class="contact-meta">
                                    <span class="name">Marjory Cambell</span>
                                    <span class="position">Fintech</span>
                                    <span class="email">marjory@fintech.co</span>
                                </div>
                            </div> -->
                            <!-- Contact actions -->
                            <!-- <div class="contact-actions">
                                <small class="tag">Lead</small>
                                <div class="right-actions">
                                    <a class="button contact-button">
                                        <i class="material-icons">bookmark</i>
                                    </a>
                                    <a class="button contact-button">
                                        <i class="material-icons">mail</i>
                                    </a>
                                    <div class="dropdown is-right dropdown-trigger contacts-grid-dropdown">
                                        <div class="button">
                                            <i class="material-icons">more_horiz</i>
                                        </div>

                                        <div class="dropdown-menu is-text-bigger" role="menu">
                                            <div class="dropdown-content">
                                                <a class="dropdown-item">
                                                    <i class="sl sl-icon-eye"></i>
                                                    <span>
                                                        <span>View</span>
                                                        <span>View contact details</span>
                                                    </span>
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    <i class="sl sl-icon-pencil"></i>
                                                    <span>
                                                        <span>Edit</span>
                                                        <span>Edit contact details</span>
                                                    </span>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <i class="sl sl-icon-bell"></i>
                                                    <span>
                                                        <span>Notifications</span>
                                                        <span>Manage contact notifications</span>
                                                    </span>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item">
                                                    <i class="sl sl-icon-trash"></i>
                                                    <span>
                                                        <span>Delete</span>
                                                        <span>Delete this contact</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        <!-- </div>
                    </div> -->


                </div>

            </div>
        </div>
    </div>
</div>

