<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="ussd_main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="ussd_basic-layout" class="dashboard-columns">

                <h2 class="demo-title">USSD Farmers</h2>
                <h2 class="demo-title count-farmers">
                    <span id="ussd_total"></span>
                    <span id="ussd_ada"></span>
                </h2>

                <!-- Advanced Datatable -->
                <div class="table-wrapper" id="ussd_farmer_container">
                  <table id="mytable_ussd" class="table is-datatable is-hoverable table-striped table-bordered">
                      <thead>
                          <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th>State</th>
                            <th>LGA</th>
                            <th>Date</th>
                          </tr>
                        </thead> 
                     
                  </table>
                  
                  <div class="pagination-container">
                      <nav>
                        <ul class="pagination"></ul>
                      </nav>
                  </div>
              </div><hr>
                

            </div>
        </div>
    </div>
</div>