<h2 class="demo-title">On-boarding of farmers via USSD</h2>

<div class="columns ussd_section is-mobile is-multiline is-centered">
    <div class="column ussd_form">
        <div class="field">
            <label class="label">first name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Farmer's first name">
            </div>
          </div>

        <div class="field">
            <label class="label">last name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Farmer's last name">
            </div>
          </div>

          <div class="field">
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">
                        +234
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input is-rounded" id="the_phonenumber" class="input" type="tel" placeholder="phone number of farmer">
                </p>
            </div>
        </div>

        <div class="field">
            <label class="label">State</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>Adamawa</option>
                  <option>Gombe</option>
                  <option>Bornu</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">local Government</label>
            <div class="control">
              <input class="input" type="text" placeholder="local Government of farmer">
            </div>
          </div>

          <div class="field">
            <label class="label">Crop produced by farmer</label>
            <div class="control">
              <input class="input" type="text" placeholder="crop prouced by farmer">
            </div>
            <p class="help is-success">Please separate each crop by a comma</p>
          </div>
          
          <!-- <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Text input" value="bulma">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            <p class="help is-success">This username is available</p>
          </div> -->
          
          
          <div class="field">
            <label class="label">Gender</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Farm Size</label>
            <div class="control">
              <input class="input" type="text" placeholder="farm size of farmer">
            </div>
          </div>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
    </div>


    <div class="column ussd_numbers">
      Second column
    </div>
  </div>