<div class="column is-full">

    <div class="columns nvri_users is-vcentered is-multiline animated preFadeInUp fadeInUp">
        <!-- Registered VetShop and Clinics -->
        <div class="column is-full">
            <h2 class="button btn-dash secondary-btn is-raised" style="background-color: #f58734 !important; border-color:#f58734; "> VetShops / Clinics </h2>
        </div>
    </div>
    <div class="column is-mobile is-multiline is-centered">
        <div class="columns">
            <div class="card card-floating-boxed card-shadow">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="./img/oc.png" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4 color-accent">New perspectives</p>
                            <p class="subtitle is-6">23 mar 2017</p>
                        </div>
                    </div>
            
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris.
                    </div>
                    <div class="has-text-left">
                        <a class="button btn-align accent-btn raised">Read more</a>
                    </div>
                </div>
            </div>
            <div class="card card-floating-boxed card-shadow">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="./img/oc.png" alt="">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 color-accent">New perspectives</p>
                        <p class="subtitle is-6">23 mar 2017</p>
                    </div>
                </div>
        
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris.
                </div>
                <div class="has-text-left">
                    <a class="button btn-align accent-btn raised">Read more</a>
                </div>
            </div>
        </div>
        </div>
        <div class="columns">
            <div class="event-card">
                <div class="card-date">
                    <div class="date">
                        <span class="day">03</span>
                        <span class="month">Jun</span>
                    </div>
                </div>
                <div class="img-container">
                    <img src="https://source.unsplash.com/tnv84LOjes4/" alt="" />
                </div>
                <div class="card-text">
                    <div class="text text-container">
                        <div class="text text-header">
                            <h2 class="text text-title">Chicago</h2>
                            <p class="text text-subtitle">Node JS Conf</p>
                        </div>
                        <div class="text text-details">
                            <p class="text text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nulla cum impedit et nemo molestiae, suscipit animi officiis soluta natus, provident ab laudantium, amet dolorum.
                            </p>
                            <a href="#" class="button btn-align btn-more is-link color-accent mt-10">
                                Event details <i class="sl sl-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-card">
                <div class="card-date">
                    <div class="date">
                        <span class="day">03</span>
                        <span class="month">Jun</span>
                    </div>
                </div>
                <div class="img-container">
                    <img src="https://source.unsplash.com/tnv84LOjes4/" alt="" />
                </div>
                <div class="card-text">
                    <div class="text text-container">
                        <div class="text text-header">
                            <h2 class="text text-title">Chicago</h2>
                            <p class="text text-subtitle">Node JS Conf</p>
                        </div>
                        <div class="text text-details">
                            <p class="text text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nulla cum impedit et nemo molestiae, suscipit animi officiis soluta natus, provident ab laudantium, amet dolorum.
                            </p>
                            <a href="#" class="button btn-align btn-more is-link color-accent mt-10">
                                Event details <i class="sl sl-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</div>

