  <!-- Advanced Datatable -->
  <div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper" style="overflow-x: scroll;">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <h2 class="demo-title">The Table Below Shows The List of All Diseases</h2>

                <!-- Advanced Datatable -->
                    <table id="view_disease" class="table is-datatable is-hoverable table-striped table-bordered animated preFadeInUp fadeInUp">
                        <thead>
                            <tr>
                              <th>S/N</th>
                              <th>Disease</th>
                              <th>Disease(Hausa)</th>
                              <th>Disease(Fulfude)</th>
                              <th>Animal</th>
                              <th>Associated Animal</th>
                              <th>Key Words</th>
                            </tr>
                          </thead> 
                        <tbody id="view_disease_table">
                
                        </tbody>
                    </table>
                    
                    <div class="pagination-container">
                        <nav>
                          <ul class="pagination"></ul>
                        </nav>
                    </div>
                       


                    <!-- Create message modal -->
    <div id="view_single_disease" class="modal modal-md icon-action-modal modal-hero">
        <div class="modal-background scaleInCircle"></div>
        <div class="modal-content scaleIn single_disease_body">
            <div class="flex-card simple-shadow single_single_innerSection">
                <div class="card-body">
                    <div class="has-text-centered">
                        <div id="disease_case_body">

                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button onclick="cancelMessage();" class="button modal-dismiss">Cancel</button>
                    <button type="submit" id="send_messages" onclick="handleEdit()" class="button is-modal">Update Disease</button>
                    <button type="edit" class="btn btn-default" id="edit" class="button is-modal" onclick="return handleEdit()">Update</button>

                    <button type="submit" class="btn btn-default" id="save" class="button is-modal" hidden>Save</button>
                </div> -->
            </div>
        </div>
        <button onclick="cancelMessage();" class="modal-close is-large is-hidden" aria-label="close"></button>
    </div>
    <!-- Create Internal message -->

                </div>
             

            </div>
        </div>
    </div>
