<!--title and breadcrumb-->

<div class="page-breadcrumb">
  <h1>Blog Posts</h1>
</div>

<!--/title and breadcrumb-->

<div class="column is-mobile is-multiline is-centered">
  <style scoped>
    #bubble-container,
    #snow-container {
      height: 300px;
      margin-bottom: 10px;
    }
    .container {
      display: flex;
    }
    .panel {
      flex: 1;
      margin-left: 25px;
      margin-right: 25px;
    }

    @media only screen and (max-width: 600px) {
      #remote-container {
        width: 400px;
        min-height: 300px;
        margin-bottom: 10px;
        background-color: lightblue;
      }
      .panel {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
      }
      .container {
        margin: auto;
        display: inline-block;
      }

      .blog-heads {
        text-align: center;
        padding: 10px 5px;
      }
    }
  </style>

  <div class="container">
    <div class="panel" style="width: 70% !important">
      <div style="text-align: center; padding: 5px; font-weight: bold">
        Rendered Output
      </div>
      <div id="remote-container"></div>
    </div>
  </div>
</div>

<div class="control">
  <button
    onclick="get_blog_posts()"
    class="button is-primary is-medium"
    style="
      align-self: center;
      background-color: #f58734 !important;
      border-color: #f58734;
    "
  >
    Next Posts
  </button>
</div>
