  <!-- Advanced Datatable -->
  <div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <h2 class="demo-title">The Table Below Shows The List of All Diseases</h2>

                <!-- Advanced Datatable -->
                    <table id="view_disease" class="table is-datatable is-hoverable table-striped table-bordered">
                        <thead>
                            <tr>
                              <th>S/N</th>
                              <th>Disease</th>
                              <th>Disease(Hausa)</th>
                              <th>Disease(Fulfude)</th>
                              <th>Associated Animal</th>
                              <th>Vaccine required</th>
                              <th>Key Words</th>
                            </tr>
                          </thead> 
                        <tbody id="view_disease_table">
                
                        </tbody>
                    </table>
                    
                    <div class="pagination-container">
                        <nav>
                          <ul class="pagination"></ul>
                        </nav>
                    </div>
                       


                </div>
             

            </div>
        </div>
    </div>
