<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <!-- Page title -->
                <div class="contacts-title-wrapper">
                    <h3 class="contacts-title">Manage Vouchers</h3>
                    <!-- Filter input -->
                    <div class="list-filter">
                        <div class="control is-hidden-phones">
                            <input class="input" type="text" placeholder="Filter Vouchers">
                            <div class="form-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-filter">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                </svg>
                            </div>
                        </div>
                        <!-- Add contact button -->
                        <a onclick="newVoucher();" id="create-vouchers" class="button btn-dash secondary-btn btn-dash raised ripple has-icon modal-trigger"
                            data-ripple-color="" data-modal="create-voucher-modal">
                            <i class="material-icons">add</i>
                            Create Vouchers
                        </a>
                    </div>
                </div>

                <!-- Contacts grid -->
                <div class="columns is-multiline is-contacts-grid" id="users_page">
                   
                </div>

            </div>
        </div>
    </div>
</div>

