<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <h2 class="demo-title">Weather Module
                    
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="columns is-full">

    <div class="column admin-create-button" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Weather</h1>
        <div class="field is-grouped" style="background-image: url('./img/weather-icons.jpg'); opacity: 0.6; background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="abuja_weather"  class="button is-large is-primary is-rounded is-right">Abuja</button>
        </div>
    </div>


    <div class="column admin-create-button" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Weather</h1>
        <div class="field is-grouped" style="background-image: url('./img/weather-icons.jpg'); opacity: 0.6; background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="adamawa_weather" class="button is-large is-primary is-rounded is-right">Adamawa</button>
        </div>
    </div>


    <div class="column admin-create-button" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Weather</h1>
        <div class="field is-grouped" style="background-image: url('./img/weather-icons.jpg'); opacity: 0.6; background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="gombe_weather" class="button is-large is-primary is-rounded is-right">Gombe</button>
        </div>
    </div>


    <div class="column admin-create-button" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Weather</h1>
        <div class="field is-grouped" style="background-image: url('./img/weather-icons.jpg'); opacity: 0.6; background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="nassarawa_weather"  class="button is-large is-primary is-rounded is-right">Nasarawa</button>
        </div>
    </div>
</div>