<div class="dashboard-inner">

    <!-- Dashboard Wrapper -->
    <div class="dashboard-wrapper">

        <div id="main-dashboard" class="section-wrapper">
            <!-- Dashboard content -->
            <div id="basic-layout" class="dashboard-columns">

                <h2 class="demo-title">Weather Module
                    
                </h2>
                <button  onclick="weatherForcast()" class="button is-large is-primary is-rounded is-right">Click me</button>
            </div>
        </div>
    </div>
</div>
<div class="columns is-full">

    <div class="column weather_body weather_column_space" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Abuja</h1>
        <div id="abuja_info" class="field is-grouped paragraph" style="background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="abuja_weather"  class="button is-large is-primary is-rounded is-right">Refresh</button>
        </div>
    </div>


    <div class="column weather_body weather_column_space" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Adamawa</h1>
        <div id="adamawa_info" class="field is-grouped paragraph" style="background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="adamawa_weather" class="button is-large is-primary is-rounded is-right">Refresh</button>
        </div>
    </div>


    <div class="column weather_body weather_column_space" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Gombe</h1>
        <div id="gombe_info" class="field is-grouped paragraph" style="background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="gombe_weather" class="button is-large is-primary is-rounded is-right">Refresh</button>
        </div>
    </div>


    <div class="column weather_body weather_column_space" style="box-shadow: 2px 2px 3px #acaefe; border-radius: 10px;">
        <h1 class="title is-centered">Nasarawa</h1>
        <div id="nasa_info" class="field is-grouped paragraph" style="background-repeat: no-repeat; min-height: 300px;">
            
        </div>
        <div class="control is-large">
            <button id="nassarawa_weather"  class="button is-large is-primary is-rounded is-right">Refresh</button>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="title is-centered">Select a state below to get the Weather Forcast</h1>
    <div class="select is-success is-medium">
        <select id="weather_forcaste" onchange="weatherForcast()">
          <option>Select dropdown</option>
          <option value="Abuja">Abuja</option>
          <option value="Adamawa">Adamawa</option>
          <option value="Nassarawa">Nassarawa</option>
          <option value="Gombe">Gombe</option>
        </select>
      </div>
    <div class="columns forcast_section">
        <div class="column is-one-fifth forcast_body" id="first_weather_section"></div>
        <div class="column forcast_body" id="second_weather_section"></div>
        <div class="column forcast_body" id="third_weather_section"></div>
        <div class="column forcast_body" id="fourth_weather_section"></div>
        <div class="column forcast_body" id="fifth_weather_section"></div>
      </div>
</div>